.app-container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
    gap: 0.5rem;
}

.spinner-container {
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0;
    height: 100dvh;
    width: 100dvw;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.32);
}